.offcanvas.offcanvas-end.show {
  width: 250px;
}

.nav-brand {
  color: #e8f1f2 !important;
}
.Boton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #13293d;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign .path {
  width: 17px;
  fill: #e8f1f2;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #e8f1f2;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Boton:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Boton:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Boton:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Boton:active {
  transform: translate(2px, 2px);
}

/* BOLSA */

.btn-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  color: #e8f1f2;
  padding-right: 0.5rem;
}
.shoppingBag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  text-decoration: none;
}

.bolsa{
  margin-right: 0.5rem;
}

.btn-cart::after {
  content: attr(data-quantity);
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  color: black;
  font-family: "Lucida Sans", sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s linear;
  top: 115%;
}

.icon-cart {
  width: 24.38px;
  height: 30.52px;
  transition: 0.2s linear;
}

.icon-cart .bolsa {
  fill: rgb(240, 8, 8);
  transition: 0.2s linear;
}

.btn-cart:hover > .icon-cart {
  transform: scale(1.2);
}

.btn-cart:hover > .icon-cart .bolsa {
  fill: rgb(186, 34, 233);
}

.btn-cart:hover::after {
  visibility: visible;
  opacity: 1;
  color: #e8f1f2;
}

.quantity {
  display: none;
  color: #e8f1f2;
}

.--nav {
  background-color: #1b98e0;
}
